
body {
    background-color:lightblue;
    background-image: url(en_man_som_spiller.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
  color: red;
  text-align: center;
}

p {
    color: rgb(255, 251, 251);
    text-align: center
}

li {
    color: red;
    text-align: center;
}

a {
    color: rgb(255, 247, 247);
    text-align: center
}


/* img {
    bacgrou
} */