
body {
    background-color:lightblue;
    background-image: url(en_man_som_spiller.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1{
  color: red;
  text-align: center;
  text-shadow: 2px 3px black;

}


p {
    color: rgb(255, 251, 251);
    text-shadow: 2px 3px black;
    text-align: center
}

li {
    color: red;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 3px black;
}

a {
    color: rgb(255, 247, 247);
    text-shadow: 2px 3px black;
    text-align: center

}