body {
    background-color: lightblue;
    background-image: url(en_man_som_spiller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
    text-align: center;
    text-shadow: 2px 3px black;
}

p {
    color: rgb(255, 251, 251);
    text-align: center;
    text-shadow: 2px 3px black;
    margin-top: 25px;
}

li {
    color: red;
    text-align: center;
    text-shadow: 2px 3px black;
    margin-top: 50px;
}

a {
    color: rgb(255, 251, 251);
    text-align: center;
    text-shadow: 2px 3px black;
}

/* Legger til klasse for avstand mellom overskrift og tekst */
.space-between-heading-and-text {
    margin-top: 50px;
}

/* Den eksisterende CSS for .ex1 klasse */
.ex1 

{
    margin-top: 25px;
}
